<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="todo-list">
			<input 
				v-model='val'
				v-on:keyup.enter='addNewTodo'
				placeholder="add a todo" 
			>
			<ul>
				<li is = 'todo-item'
					v-for='(todo,index) in todos'
					v-bind:title = 'todo'
					v-on:remove='todos.splice(index,1)'
				></li>
			</ul>
		</div>
		<script type="text/javascript">
			//迭代组件---注意不能自动传递数据到组件里，用props
			Vue.component('todo-item',{
			    template:'\
			    <li>\
			    	{{title}}\
			    	<button v-on:click="$emit(\'remove\')">X</button>\
			    </li>',
			    props : ['title']
			});
			
			new Vue({
				el:'#todo-list',
				data:{
					val:'',
					todos:[
						'Do the dishes',
						'asdf',
						'afwerfe'
					]
				},
				methods:{
					addNewTodo:function(){
						this.todos.push(this.val);
						this.val = '';
					}
				}
			})
		</script>
	</body>
</html>
